<div id="message-<%= message.id %>">
  <small>
    <i><%= message.created_at.in_time_zone("Asia/Dhaka").strftime("%a %b %e at %l:%M %p") %></i>
  </small>
    <% if message.user==current_user %>
      <strong> Me: </strong>
    <%else %>
      <strong><%= message.user.username %>:</strong>
    <% end %>
    <i><%= message.content %></i>
</div>